services:
  web:
    build:
      context: ./app
      args:
        - FLAG
    ports:
      - 1024:80
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1/"]
      timeout: 1s
      retries: 5
      interval: 10s
